
#newyorklasik_outer {
	overflow: hidden;
	width:940px; 
	height: 140px;
	margin: 0 auto; 
	background: none; 
	display:block; 
	position:relative; 
	padding: 15px 0 0 0;
}
/* create custom forward-backward buttons for this container */
#newyorklasik_outer .newyorklasik_forward,
#newyorklasik_outer .newyorklasik_back{ 
	display:block; 
	position:absolute; 
	cursor:pointer; 
	width: 25px; 
	height: 140px; 
	bottom:0px; 
	right: 0px; 
	background:url(../images/slideitmoo_forward.png) no-repeat center;  
}
#newyorklasik_outer .newyorklasik_back { 
	left:0px; 
	background:url(../images/slideitmoo_back.png) no-repeat center;  
}

/* the width is set to show the number of thumbnails that will be visible */
#newyorklasik_inner{ 
	position:relative ; 
	overflow:hidden ; 
	width: 850px ; /* set a display width to make the slider look good in case js is disabled */
	height: 140px;
	margin:0px auto 0px;
	padding:10px 0px 10px;
}
/* the thumbnails container; set a width on it so everything will be fine */
#newyorklasik_items { 
	display:block; 
	position:relative; 
}
/* single element design */
#newyorklasik_items div.newyorklasik_element { 
	display:block; 
	position:relative; 
	float:left; 
	margin:0px 15px 0px; 
	font-size:11px; 
	width:128px; 
	text-align:center; 
	font-family: Verdana, Geneva, sans-serif;
	color:#000000;
}
#newyorklasik_items a { padding:0px; margin:3px 0px 3px; clear:both; display:block; background:none; padding:2px; }
#newyorklasik_items a img{ 	border: 3px solid #e8e8e8; padding: 1px; background: #fff; }
